@font-face {
    font-family: 'Komika Axis';
    src: url('static/fonts/KOMIKAX_.ttf') format('truetype');
}

body {
    background-image: url('static/bg_rat.png');
    background-repeat: repeat;
    background-size: 85px 85px;
    font-family: 'Komika Axis', sans-serif;
    margin: 20px;
    padding: 20px;
}

.turnip-text {
    font-family: 'Patrick Hand', cursive;
    color: #5c4033;
    font-size: 16px;
    text-align: center;
}

h1 {
    text-align: center;
    background-color: #febdc3;
    color: #5c4033;
    padding: 25px 25px;
    border-radius: 70px;
    margin: 40px;
    font-size: 35px;
    font-family: 'Chelsea Market', cursive;
}

.pattern-section {
    text-align: center;
    margin-bottom: 15px;
    color: #5c4033;
}

#previous-pattern {
    color: #5c4033;
    font-size: 16px;
    padding: 6px 8px;
    border-radius: 4px;
    border: 2px dashed #e3d3c3;
    background-color: #f0e5d8;
    cursor: pointer;
    font-family: 'Patrick Hand', cursive;
}

.week-section {
    padding: 15px;
    border-radius: 12px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 30px;
}

@media (max-width: 1080px) {
    .week-section {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {
    .week-section {
        grid-template-columns: repeat(1, 1fr);
    }
}

.day-group {
    background-color: rgba(240,228,220, 0.6);
    padding: 10px;
    border-radius: 8px;
    border: 3px dashed #f0e5d8;
    justify-items: center;
}

.hours-group {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    width: 60%;
}

.hours-group label {
    text-align: center;
}

.hours-group input {
    text-align: center;
    width: 10px;
    height: 25px;
    background-color: #e3d3c3;
}

.day-group h3 {
    text-align: center;
    width: 95%;
    background-color: rgba(240,196,196, 0.30);
    border-radius: 12px;
    padding: 4px;
    font-size: 16px;
    color: #5c4033;
    margin: 10px;
}

.day-group label {
    display: block;
    margin-top: 4px;
    font-size: 16px;
    color: #5c4033;
}

.day-group input[type="number"] {
    width: 90%;
    padding: 4px;
    margin-top: 2px;
    border-radius: 5px;
    border: 2px solid #e3d3c3;
    background-color: #fff8e5;
    color: #5c4033;
    font-family: 'Patrick Hand', cursive;
    font-size: 16px;
}

.submit-section {
    text-align: center;
    margin-top: 40px;
}

.submit-section button {
    background-color: #f4a261;
    color: white;
    padding: 10px 40px;
    border: 4px dotted rgba(240,196,196);
    border-radius: 9px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Chelsea Market';
    font-weight: bold;
    font-size: 18px
}

.submit-section button:hover {
    background-color: #e78a4e;
}

#prediction-result {
    margin-top: 30px;
    background-color: #f0e5d8;
    padding: 20px;
    border-radius: 10px;
    color: #5c4033;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    white-space: pre-line;
}